{% extends 'layout.html' %} {% block body %}
<div
    class="container-fluid page-transition"
    id="pageTransitionContainer"
    style="background-color: black; min-height: 100vh; padding-top: 100px"
>
    <div class="row py-5 text-center">
        <div class="col-12">
            <p style="color: white; font-size: small">Version 2.0</p>
            <h1
                style="
                    color: white;
                    font-weight: bold;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                EllishGPT1: Altitude Defies Horizon
            </h1>
            <div class="my-3">
                <a href="/privacy" style="color: white; text-decoration: none"
                    >Privacy and Security</a
                >
            </div>
            <div class="button-container d-flex justify-content-center my-3">
                <a href="/chat" class="btn btn-lg btn-gradient">EllishGPT</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <a href="">
                <img
                    src="https://i.ibb.co/qR1VJGV/Untitled-design.png"
                    alt="EllishGPT"
                    class="img-fluid"
                    style="width: 100%; max-height: 375px; object-fit: cover"
                />
            </a>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-md-8 offset-md-2">
            <h2
                class="my-4 text-center"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                Developers and Contributors
            </h2>
            <div class="row text-center">
                <div class="col-md-4">
                    <img
                        src="https://i.ibb.co/FXscWmp/1721138570186.jpg"
                        alt="Woo Jin Lee"
                        class="rounded-circle img-fluid"
                        style="width: 140px; height: 140px"
                    />
                    <p style="color: white; margin-top: 10px">
                        <strong>Woo Jin Lee</strong><br />
                        Project Manager, End-to-End Developer, Frontend
                        Developer, Software Analyst, Software QA Engineer,
                        DevOps Engineer<br />
                        <a
                            href="https://www.linkedin.com/in/woojinlee-wjl"
                            style="color: #6e8efb; text-decoration: none"
                            >LinkedIn</a
                        >
                    </p>
                </div>
                <div class="col-md-4">
                    <img
                        src="https://i.ibb.co/KjK3hNK/1684107827896.jpg"
                        alt="Regina Garfias"
                        class="rounded-circle img-fluid"
                        style="width: 140px; height: 140px"
                    />
                    <p style="color: white; margin-top: 10px">
                        <strong>Regina Garfias</strong><br />
                        Backend Developer, Database Administrator, Software
                        Analyst, Software QA Engineer, DevOps Engineer<br />
                        <a
                            href="https://www.linkedin.com/in/reginagarfias/"
                            style="color: #6e8efb; text-decoration: none"
                            >LinkedIn</a
                        >
                    </p>
                </div>
                <div class="col-md-4">
                    <img
                        src="https://i.ibb.co/rMSB76Y/1701938696065.jpg"
                        alt="Daniil Rusanyuk"
                        class="rounded-circle img-fluid"
                        style="width: 140px; height: 140px"
                    />
                    <p style="color: white; margin-top: 10px">
                        <strong>Daniil Rusanyuk</strong><br />
                        Website Appeal and Consultant, Product Manager<br />
                        <a
                            href="https://www.linkedin.com/in/daniil-rusanyuk"
                            style="color: #6e8efb; text-decoration: none"
                            >LinkedIn</a
                        >
                    </p>
                </div>
            </div>
            <h2
                class="my-4"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                Who We Are
            </h2>
            <p style="color: white">
                We are a team of dedicated developers, AI enthusiasts, and
                innovators passionate about expanding the limits of artificial
                intelligence. Our diverse group includes experts in computer
                science, natural language processing, and user experience
                design, all working together to create a chatbot that not only
                understands you but also anticipates your needs.
            </p>
            <h2
                class="my-4"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                Empowering Conversations, Enriching Lives
            </h2>
            <p style="color: white">
                Welcome to our project, Ellish. Ellish Inc. is a
                state-of-the-art chatbot designed to transform the way you
                communicate with technology. Our aim is to leverage the
                potential of artificial intelligence to deliver fluid,
                intelligent, and human-like interactions that can assist you in
                numerous aspects of your daily routine.
            </p>
            <h2
                class="my-4"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                What We Do
            </h2>
            <p style="color: white">
                EllishGPT Inc., powered by the OpenAI API, is crafted to engage
                in meaningful conversations, answer queries, and provide
                assistance on a broad range of topics. Whether you need help
                with scheduling, information on a specific topic, or just a
                friendly chat, our bot is here for you.
            </p>
            <h2
                class="my-4"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                Our Technology
            </h2>
            <p style="color: white">
                At the heart of our project is the advanced OpenAI API, which
                enables EllishGPT Inc. to process natural language, comprehend
                context, and generate human-like responses. By utilizing this
                powerful technology, we strive to offer an experience that is
                both functional and engaging.
            </p>
            <h2
                class="my-4"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                Our Vision
            </h2>
            <p style="color: white">
                We envision a future where AI-driven chatbots become a
                fundamental part of everyday life, making technology more
                accessible and interactions more human-like. Our goal is to
                develop a chatbot that not only assists but also enriches the
                lives of its users through intelligent and engaging
                conversations.
            </p>
            <h2
                class="my-4"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                Special Thanks
            </h2>
            <p style="color: white">
                We extend our heartfelt gratitude to all those who have
                supported and believed in our vision. Your encouragement and
                feedback have been invaluable.
            </p>
            <h2
                class="my-4"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                    font-size: 0.9rem;
                "
            >
                Roles and Responsibilities
            </h2>
            <p style="color: white; font-size: 0.9rem">
                <strong>End-to-End Developer:</strong> Responsible for handling
                the full lifecycle of application development, from setting up
                the backend to ensuring the frontend is functional. This role
                ensures that all parts of the system integrate seamlessly.
            </p>
            <p style="color: white; font-size: 0.9rem">
                <strong>Software Analyst:</strong> Analyzes and defines software
                requirements, ensures the application meets business needs, and
                provides recommendations for improvements.
            </p>
            <p style="color: white; font-size: 0.9rem">
                <strong>Software QA Engineer:</strong> Ensures the quality of
                the application through rigorous testing (both manual and
                automated). Identifies bugs, reports issues, and verifies fixes.
            </p>
            <p style="color: white; font-size: 0.9rem">
                <strong>Backend Developer:</strong> Develops and maintains the
                server-side logic, database management, and API development.
                Ensures the backend integrates well with the frontend and
                external services like ChatGPT.
            </p>
            <p style="color: white; font-size: 0.9rem">
                <strong>Frontend Developer:</strong> Focuses specifically on the
                frontend development, ensuring a responsive and interactive user
                interface.
            </p>
            <p style="color: white; font-size: 0.9rem">
                <strong>Website Appeal and Consultant:</strong> Focuses on the
                aesthetics and user experience of the website. Ensures the
                design is visually appealing and user-friendly.
            </p>
            <p style="color: white; font-size: 0.9rem">
                <strong>DevOps Engineer:</strong> Manages the deployment,
                scaling, and monitoring of applications. Ensures the
                infrastructure is robust and the application is deployable via
                Docker or other containerization tools.
            </p>
            <p style="color: white; font-size: 0.9rem">
                <strong>Database Administrator (DBA):</strong> Manages and
                maintains the database, ensures data integrity, optimizes
                queries, and handles backups.
            </p>
            <p style="color: white; font-size: 0.9rem">
                <strong>Product Manager:</strong> Oversees the project from a
                business perspective, ensuring that the development aligns with
                the business goals and user needs.
            </p>
            <p style="color: white; font-size: 0.9rem">
                For more details on our projects, check out our GitHub
                repositories:
                <a
                    href="https://github.com/woojin-lee713/official_genailib_wl"
                    style="color: #6e8efb; text-decoration: none"
                    >Official GenAI Library</a
                >
                and
                <a
                    href="https://github.com/woojin-lee713/officialgenaiserverwl"
                    style="color: #6e8efb; text-decoration: none"
                    >Official GenAI Server</a
                >.
            </p>
            <h2
                class="my-4"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                EllishGPT History
            </h2>
            <p style="color: white">
                Over the years, EllishGPT has evolved through several versions,
                each bringing improvements and new features. Starting from a
                simple conversational bot, we have continuously integrated
                advanced AI capabilities to enhance user experience. Each
                version reflects our commitment to innovation and excellence.
            </p>
            <p style="color: white">
                <a
                    href="/previous-versions"
                    class="history-link"
                    style="color: #6e8efb; text-decoration: none"
                    >View Previous Versions</a
                >
            </p>
            <h2
                class="my-4"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                Future Updates
            </h2>
            <p style="color: white">
                We are committed to continuous improvement and have several
                updates planned for the future:
            </p>
            <ul
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                <li>
                    Enhancements to the user interface for different screen
                    sizes
                </li>
                <li>Increasing the number of characters in chat responses</li>
                <li>
                    Introducing a personalized AI assistant along with a chatbot
                    for different fields
                </li>
                <li>Developing a new EllishGPT1 AI model</li>
            </ul>
            <h2
                class="my-4"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                Get in Touch
            </h2>
            <p style="color: white">
                We love hearing from our users! If you have any questions,
                feedback, or suggestions, please feel free to reach out to us.
                Your insights are invaluable as we strive to make EllishGPT Inc.
                the best it can be.
            </p>
            <p style="color: white">
                Thank you for choosing EllishGPT Inc. We look forward to
                chatting with you!
            </p>
        </div>
    </div>
    <div class="container text-center mt-5">
        <img
            src="https://i.ibb.co/RgTNn9M/W.png"
            alt="Small Logo"
            style="width: 100px; height: 100px"
        />
        <p style="color: white; margin-top: 5px">
            &copy; 2024 EllishGPT Inc. All rights reserved.
        </p>
    </div>
</div>

<style>
    body {
        background-color: black;
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }

    body.fade-out {
        opacity: 0;
    }

    .btn-gradient {
        background: linear-gradient(135deg, #6e8efb, #a777e3);
        color: white;
        border: none;
        border-radius: 25px;
        padding: 10px 20px;
        font-size: 16px;
        transition:
            background 0.2s,
            transform 0.2s;
        display: block;
        width: 150px;
        margin: 10px;
    }

    .btn-gradient:hover {
        background: linear-gradient(135deg, #5a77d1, #8655c5);
        transform: translateY(-2px);
    }

    .page-transition {
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .page-transition.fade-in {
        opacity: 1;
    }

    .page-transition.fade-out {
        opacity: 0;
    }

    .history-link:hover {
        text-decoration: underline;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const pageTransitionContainer = document.getElementById(
            "pageTransitionContainer",
        );
        setTimeout(() => {
            pageTransitionContainer.classList.add("fade-in");
        }, 100);

        document.querySelectorAll("a").forEach(function (anchor) {
            anchor.addEventListener("click", function (event) {
                event.preventDefault();
                let linkLocation = this.href;
                pageTransitionContainer.classList.remove("fade-in");
                pageTransitionContainer.classList.add("fade-out");
                setTimeout(function () {
                    window.location = linkLocation;
                }, 1000);
            });
        });
    });
</script>
{% endblock %}
