{% extends 'layout.html' %} {% block body %}
<div
    class="container-fluid page-transition"
    id="pageTransitionContainer"
    style="background-color: black; min-height: 100vh; padding-top: 100px"
>
    <div class="row py-5 text-center">
        <div class="col-12">
            <h1
                style="
                    color: white;
                    font-weight: bold;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                Previous Versions of EllishGPT
            </h1>
            <div class="my-3">
                <a
                    href="/about"
                    class="link-hover"
                    style="color: white; text-decoration: none"
                    >About</a
                >
                |
                <a
                    href="/privacy"
                    class="link-hover"
                    style="color: white; text-decoration: none"
                    >Privacy and Security</a
                >
            </div>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-md-8 offset-md-2">
            <div class="version-section">
                <h2 class="version-heading">
                    Version 2.0: Comprehensive Upgrade
                </h2>
                <p style="color: white">
                    Version 2.0 of EllishGPT represents a major milestone in our
                    development journey. This release introduced a brand new
                    chat interface, designed to offer a more interactive and
                    engaging user experience. Alongside the visual overhaul, we
                    implemented significant upgrades to the website's overall
                    architecture, enhancing performance and reliability. The new
                    chat capabilities included advanced AI functionalities,
                    enabling more natural and context-aware interactions.
                    Version 2.0 not only improved the aesthetic appeal of
                    EllishGPT but also reinforced our commitment to providing a
                    cutting-edge conversational AI platform that meets the
                    evolving needs of our users.
                </p>
                <div class="text-center my-4">
                    <div
                        style="
                            position: relative;
                            width: 100%;
                            height: 0;
                            padding-top: 57.1429%;
                            padding-bottom: 0;
                            margin-top: 1.6em;
                            margin-bottom: 0.9em;
                            overflow: hidden;
                            border-radius: 8px;
                            will-change: transform;
                        "
                    >
                        <iframe
                            loading="lazy"
                            style="
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: 0;
                                border: none;
                                padding: 0;
                                margin: 0;
                            "
                            src="https://www.canva.com/design/DAGKWGgrLI4/9_3JUnImCoDJJVFHKdMiBQ/view?embed"
                        >
                        </iframe>
                        <a
                            href="/home"
                            style="
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: 0;
                                border: none;
                                padding: 0;
                                margin: 0;
                                z-index: 1;
                            "
                        ></a>
                    </div>
                </div>
            </div>

            <div class="version-section">
                <h2 class="version-heading">
                    Version 1.5: User Interface Implementation
                </h2>
                <p style="color: white">
                    With the release of Version 1.5, EllishGPT took a
                    significant step forward by introducing a comprehensive user
                    interface. This update was driven by our commitment to
                    enhancing user experience and making AI interactions more
                    accessible. The new interface was designed with a focus on
                    simplicity and functionality, ensuring that users could
                    easily navigate and engage with the chatbot. In addition to
                    the visual improvements, this version also incorporated
                    several backend optimizations to support the enhanced user
                    interface, further solidifying the foundation laid by
                    Version 1.0.
                </p>
                <div class="text-center my-4">
                    <div class="row no-gutters">
                        <div class="col-md-6 p-1">
                            <img
                                src="https://i.ibb.co/f9Ww40y/Screenshot-2024-07-26-at-22-31-07.png"
                                alt="Page1"
                                class="img-fluid"
                                style="
                                    width: 100%;
                                    height: auto;
                                    max-height: 275px;
                                    object-fit: cover;
                                    box-shadow: 0 2px 8px 0
                                        rgba(63, 69, 81, 0.16);
                                    border-radius: 8px;
                                "
                            />
                        </div>
                        <div class="col-md-6 p-1">
                            <img
                                src="https://i.ibb.co/bsH09gr/Screenshot-2024-07-26-at-22-31-16.png"
                                alt="Page2"
                                class="img-fluid"
                                style="
                                    width: 100%;
                                    height: auto;
                                    max-height: 275px;
                                    object-fit: cover;
                                    box-shadow: 0 2px 8px 0
                                        rgba(63, 69, 81, 0.16);
                                    border-radius: 8px;
                                "
                            />
                        </div>
                        <div class="col-md-6 p-1">
                            <img
                                src="https://i.ibb.co/SngcWYL/Screenshot-2024-07-26-at-22-31-25.png"
                                alt="Page3"
                                class="img-fluid"
                                style="
                                    width: 100%;
                                    height: auto;
                                    max-height: 275px;
                                    object-fit: cover;
                                    box-shadow: 0 2px 8px 0
                                        rgba(63, 69, 81, 0.16);
                                    border-radius: 8px;
                                "
                            />
                        </div>
                        <div class="col-md-6 p-1">
                            <img
                                src="https://i.ibb.co/2YpWdrc/Screenshot-2024-07-26-at-22-31-35.png"
                                alt="Page4"
                                class="img-fluid"
                                style="
                                    width: 100%;
                                    height: auto;
                                    max-height: 275px;
                                    object-fit: cover;
                                    box-shadow: 0 2px 8px 0
                                        rgba(63, 69, 81, 0.16);
                                    border-radius: 8px;
                                "
                            />
                        </div>
                        <div class="col-md-6 p-1">
                            <img
                                src="https://i.ibb.co/pdGc3jx/Screenshot-2024-07-26-at-22-31-42.png"
                                alt="Page5"
                                class="img-fluid"
                                style="
                                    width: 100%;
                                    height: auto;
                                    max-height: 275px;
                                    object-fit: cover;
                                    box-shadow: 0 2px 8px 0
                                        rgba(63, 69, 81, 0.16);
                                    border-radius: 8px;
                                "
                            />
                        </div>
                        <div class="col-md-6 p-1">
                            <img
                                src="https://i.ibb.co/YpFWkxF/Screenshot-2024-07-26-at-22-31-58.png"
                                alt="Page6"
                                class="img-fluid"
                                style="
                                    width: 100%;
                                    height: auto;
                                    max-height: 275px;
                                    object-fit: cover;
                                    box-shadow: 0 2px 8px 0
                                        rgba(63, 69, 81, 0.16);
                                    border-radius: 8px;
                                "
                            />
                        </div>
                    </div>
                </div>
            </div>

            <div class="version-section">
                <h2 class="version-heading">
                    Version 1.0: The Initial Release
                </h2>
                <p style="color: white">
                    The inception of EllishGPT began with Version 1.0, our
                    initial release that marked the foundation of our journey.
                    This version focused on creating a robust backend
                    infrastructure, laying the groundwork for future
                    advancements. Our primary objective was to develop a
                    functioning website without a user interface, enabling
                    seamless integration of AI-driven conversational
                    capabilities. Despite the lack of a graphical user
                    interface, Version 1.0 demonstrated the potential of
                    EllishGPT by facilitating basic interactions and providing a
                    solid base for the subsequent developments.
                </p>
                <div class="text-center my-4">
                    <img
                        src="https://i.ibb.co/bFyrMHf/416bc6e8-929e-46fe-84a5-4d2a881081c5-removebg-preview-removebg-preview.png"
                        alt="Version 1.0"
                        class="img-fluid"
                        style="
                            width: auto;
                            max-height: 275px;
                            object-fit: cover;
                            box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
                            margin-top: 1.6em;
                            margin-bottom: 0.9em;
                            border-radius: 8px;
                        "
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center mt-5">
        <p style="color: white">
            &copy; 2024 EllishGPT Inc. All rights reserved.
        </p>
    </div>
</div>

<style>
    body {
        background-color: black;
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }

    body.fade-out {
        opacity: 0;
    }

    .btn-gradient {
        background: linear-gradient(135deg, #6e8efb, #a777e3);
        color: white;
        border: none;
        border-radius: 25px;
        padding: 10px 20px;
        font-size: 16px;
        transition:
            background 0.2s,
            transform 0.2s;
        display: block;
        width: 150px;
        margin: 10px;
    }

    .btn-gradient:hover {
        background: linear-gradient(135deg, #5a77d1, #8655c5);
        transform: translateY(-2px);
    }

    .page-transition {
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .page-transition.fade-in {
        opacity: 1;
    }

    .page-transition.fade-out {
        opacity: 0;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    .version-section {
        position: relative;
        padding-left: 30px;
    }

    .version-heading {
        color: white;
        font-family: "Raleway", sans-serif;
        font-weight: bold;
    }

    .link-hover:hover {
        color: #6e8efb;
        text-decoration: underline;
    }

    .no-gutters {
        margin-right: 0;
        margin-left: 0;
    }

    .no-gutters > .col,
    .no-gutters > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const pageTransitionContainer = document.getElementById(
            "pageTransitionContainer",
        );
        setTimeout(() => {
            pageTransitionContainer.classList.add("fade-in");
        }, 100);

        document.querySelectorAll("a").forEach(function (anchor) {
            anchor.addEventListener("click", function (event) {
                event.preventDefault();
                let linkLocation = this.href;
                pageTransitionContainer.classList.remove("fade-in");
                pageTransitionContainer.classList.add("fade-out");
                setTimeout(function () {
                    window.location = linkLocation;
                }, 1000);
            });
        });
    });
</script>
{% endblock %}
