{% extends 'layout.html' %} {% block body %}
<div
    class="container-fluid page-transition"
    id="pageTransitionContainer"
    style="background-color: black; min-height: 100vh; padding-top: 100px"
>
    <div class="row py-5 text-center">
        <div class="col-12">
            <p style="color: white; font-size: small">July 9, 2024</p>
            <h1
                style="
                    color: white;
                    font-weight: bold;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                Privacy and Security
            </h1>
            <div class="button-container d-flex justify-content-center my-3">
                <a href="/about" class="btn btn-lg btn-gradient">About Us</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2
                class="my-4"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                Privacy Policy
            </h2>
            <p style="color: white">
                At EllishGPT Inc., we value your privacy and are committed to
                protecting your personal information. This Privacy Policy
                explains the types of information we collect, how we use it, the
                measures we take to safeguard it, and your rights concerning
                your personal data.
            </p>
            <h3
                class="my-4"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                Information We Collect
            </h3>
            <p style="color: white">
                We collect a variety of information to provide, maintain, and
                improve our services. This includes:
            </p>
            <ul
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                <li>
                    <strong>Personal Information:</strong> When you register or
                    use our services, we may ask for personal details such as
                    your name, email address, and phone number. This helps us to
                    provide personalized services and communicate with you
                    effectively.
                </li>
                <li>
                    <strong>Usage Data:</strong> We collect data on how you
                    interact with our services. This includes the queries you
                    make, the responses generated, and your overall usage
                    patterns. This information helps us understand how our
                    services are used and how we can improve them.
                </li>
                <li>
                    <strong>Technical Data:</strong> Information such as your IP
                    address, browser type, operating system, and device
                    information is collected to ensure our services are
                    compatible with your setup and to improve user experience.
                </li>
                <li>
                    <strong>Cookies and Tracking Technologies:</strong> We use
                    cookies and similar tracking technologies to track the
                    activity on our service and hold certain information. This
                    helps us provide a better user experience and analyze how
                    our services are used.
                </li>
            </ul>
            <h3
                class="my-4"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                How We Use Your Information
            </h3>
            <p style="color: white">The information we collect is used to:</p>
            <ul
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                <li>
                    <strong>Provide and Maintain Our Services:</strong> We use
                    your data to deliver our chatbot services, troubleshoot
                    issues, and enhance functionality. This includes using the
                    information to authenticate you, manage your account, and
                    provide customer support.
                </li>
                <li>
                    <strong>Personalize Your Experience:</strong> By
                    understanding your preferences and interaction patterns, we
                    can tailor our responses and services to better suit your
                    needs.
                </li>
                <li>
                    <strong>Improve Our Services:</strong> Usage data helps us
                    identify trends, monitor performance, and make necessary
                    improvements to our services. We use this information to
                    develop new features and enhance existing ones.
                </li>
                <li>
                    <strong>Communicate With You:</strong> We may use your
                    contact information to send updates, respond to inquiries,
                    and provide customer support. We may also send promotional
                    materials, although you can opt-out of these communications
                    at any time.
                </li>
                <li>
                    <strong>Ensure Security and Prevent Fraud:</strong> We use
                    your information to detect, prevent, and address security
                    issues and fraudulent activities. This helps us protect our
                    users and maintain the integrity of our services.
                </li>
                <li>
                    <strong>Comply With Legal Obligations:</strong> In some
                    cases, we may be required to use or disclose your
                    information to comply with legal obligations, such as
                    responding to legal processes or government requests.
                </li>
            </ul>
            <h3
                class="my-4"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                Data Security
            </h3>
            <p style="color: white">
                We take the security of your data seriously and implement
                various measures to protect it:
            </p>
            <ul
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                <li>
                    <strong>Encryption:</strong> All data transmitted between
                    your device and our servers is encrypted using SSL/TLS
                    protocols. This ensures that your data remains confidential
                    and protected from unauthorized access during transmission.
                </li>
                <li>
                    <strong>Access Control:</strong> Access to your data is
                    restricted to authorized personnel who have signed
                    confidentiality agreements. We ensure that our employees and
                    contractors undergo regular training on data protection
                    practices.
                </li>
                <li>
                    <strong>Regular Security Audits:</strong> We conduct regular
                    security audits and vulnerability assessments to identify
                    and address potential threats. Our security team
                    continuously monitors our systems for any unusual activity
                    and takes immediate action to mitigate risks.
                </li>
                <li>
                    <strong>Secure Infrastructure:</strong> Our servers are
                    hosted in secure data centers that comply with industry
                    standards for physical and digital security. These data
                    centers are equipped with state-of-the-art security
                    measures, including 24/7 surveillance, biometric access
                    controls, and fire suppression systems.
                </li>
                <li>
                    <strong>Data Anonymization:</strong> Whenever possible, we
                    anonymize personal data to protect your privacy further.
                    Anonymized data cannot be linked back to you and is used to
                    improve our services and conduct research.
                </li>
                <li>
                    <strong>Incident Response:</strong> In the event of a data
                    breach, we have an incident response plan to contain and
                    mitigate the impact. We will notify affected users promptly
                    and take steps to prevent future incidents.
                </li>
            </ul>
            <h3
                class="my-4"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                Your Rights
            </h3>
            <p style="color: white">
                You have the following rights regarding your personal
                information:
            </p>
            <ul
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                <li>
                    <strong>Access:</strong> You can request a copy of the
                    personal information we hold about you. We will provide this
                    information within a reasonable timeframe and in a commonly
                    used electronic format.
                </li>
                <li>
                    <strong>Correction:</strong> You have the right to request
                    corrections to any inaccurate or incomplete information. We
                    will promptly update any incorrect information to ensure it
                    is accurate and current.
                </li>
                <li>
                    <strong>Deletion:</strong> You can ask us to delete your
                    personal data under certain circumstances. This includes
                    when the data is no longer necessary for the purposes it was
                    collected, if you withdraw your consent, or if you object to
                    the processing and there are no overriding legitimate
                    grounds for processing.
                </li>
                <li>
                    <strong>Objection:</strong> You have the right to object to
                    the processing of your personal data. If you raise an
                    objection, we will stop processing your information unless
                    we can demonstrate compelling legitimate grounds for the
                    processing.
                </li>
                <li>
                    <strong>Restriction:</strong> You can request that we
                    restrict the processing of your personal information in
                    certain situations. This includes when you contest the
                    accuracy of the data, the processing is unlawful, or we no
                    longer need the data but you require it for legal claims.
                </li>
                <li>
                    <strong>Portability:</strong> You have the right to request
                    the transfer of your personal data to another service
                    provider in a structured, commonly used, and
                    machine-readable format.
                </li>
                <li>
                    <strong>Withdraw Consent:</strong> If we rely on your
                    consent to process your personal information, you have the
                    right to withdraw your consent at any time. This will not
                    affect the lawfulness of processing based on consent before
                    its withdrawal.
                </li>
            </ul>
            <p style="color: white">
                If you wish to exercise any of these rights, please contact us
                at privacy@ellishgpt.com. We will respond to your request within
                a reasonable timeframe and provide the necessary assistance.
            </p>
            <h3
                class="my-4"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                Security Measures
            </h3>
            <p style="color: white">
                Ensuring the security of our services and your data is our top
                priority. We have implemented a comprehensive security framework
                to protect your information:
            </p>
            <h4
                class="my-4"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                Data Encryption
            </h4>
            <p style="color: white">
                All data transferred between your device and our servers is
                encrypted using the latest SSL/TLS protocols. This ensures that
                your data remains confidential and protected from unauthorized
                access during transmission.
            </p>
            <h4
                class="my-4"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                Access Control
            </h4>
            <p style="color: white">
                We enforce strict access control measures to ensure that only
                authorized personnel can access your data. Our employees and
                contractors must sign confidentiality agreements and undergo
                regular training on data protection practices.
            </p>
            <h4
                class="my-4"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                Regular Security Audits
            </h4>
            <p style="color: white">
                We perform regular security audits and vulnerability assessments
                to identify and address potential threats. Our security team
                continuously monitors our systems for any unusual activity and
                takes immediate action to mitigate risks.
            </p>
            <h4
                class="my-4"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                Secure Infrastructure
            </h4>
            <p style="color: white">
                Our servers are hosted in secure data centers that comply with
                industry standards for physical and digital security. These data
                centers are equipped with state-of-the-art security measures,
                including 24/7 surveillance, biometric access controls, and fire
                suppression systems.
            </p>
            <h4
                class="my-4"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                Data Anonymization
            </h4>
            <p style="color: white">
                Whenever possible, we anonymize personal data to protect your
                privacy. Anonymized data cannot be linked back to you and is
                used to improve our services and conduct research.
            </p>
            <h4
                class="my-4"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                Incident Response
            </h4>
            <p style="color: white">
                In the event of a data breach, we have an incident response plan
                to contain and mitigate the impact. We will notify affected
                users promptly and take steps to prevent future incidents. Our
                incident response team is trained to handle breaches and ensure
                that your data is protected to the fullest extent possible.
            </p>
            <h4
                class="my-4"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                Compliance with Regulations
            </h4>
            <p style="color: white">
                We comply with applicable data protection laws and regulations,
                including the General Data Protection Regulation (GDPR) and the
                California Consumer Privacy Act (CCPA). We are committed to
                upholding your rights and ensuring that your data is handled
                lawfully and transparently.
            </p>
            <h4
                class="my-4"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                User Education
            </h4>
            <p style="color: white">
                We believe that user education is crucial for maintaining data
                security. We provide resources and guidelines to help you
                understand how to protect your personal information online. This
                includes best practices for creating strong passwords,
                recognizing phishing attempts, and securing your devices.
            </p>
            <h3
                class="my-4"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                User Agreement
            </h3>
            <p style="color: white">
                By using our services, you agree to the terms outlined in this
                User Agreement. This section details your responsibilities as a
                user and the terms governing the use of our services.
            </p>
            <h4
                class="my-4"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                Acceptable Use
            </h4>
            <p style="color: white">
                You agree to use our services only for lawful purposes and in a
                way that does not infringe upon the rights of others or restrict
                or inhibit their use and enjoyment of our services. Prohibited
                activities include, but are not limited to:
            </p>
            <ul
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                <li>Engaging in any activity that is illegal or fraudulent.</li>
                <li>Transmitting harmful, offensive, or obscene content.</li>
                <li>
                    Attempting to gain unauthorized access to our systems or
                    other users' accounts.
                </li>
                <li>
                    Disrupting the normal flow of dialogue or otherwise acting
                    in a manner that negatively affects other users' ability to
                    use our services.
                </li>
            </ul>
            <h4
                class="my-4"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                Account Security
            </h4>
            <p style="color: white">
                You are responsible for maintaining the confidentiality of your
                account information, including your password, and for all
                activities that occur under your account. You agree to:
            </p>
            <ul
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                <li>
                    Immediately notify us of any unauthorized use of your
                    account or any other breach of security.
                </li>
                <li>
                    Ensure that you exit from your account at the end of each
                    session, especially when accessing your account from a
                    public or shared computer.
                </li>
            </ul>
            <h4
                class="my-4"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                Content Ownership
            </h4>
            <p style="color: white">
                All content generated by our chatbot is owned by EllishGPT Inc.
                and is protected by intellectual property laws. You agree not to
                reproduce, distribute, or create derivative works based on this
                content without our express written permission.
            </p>
            <h4
                class="my-4"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                Termination of Use
            </h4>
            <p style="color: white">
                We reserve the right to terminate or suspend your access to our
                services, without prior notice or liability, for any reason,
                including if you breach the User Agreement. Upon termination,
                your right to use our services will immediately cease.
            </p>
            <h4
                class="my-4"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                Limitation of Liability
            </h4>
            <p style="color: white">
                To the fullest extent permitted by law, EllishGPT Inc. shall not
                be liable for any indirect, incidental, special, consequential,
                or punitive damages, or any loss of profits or revenues, whether
                incurred directly or indirectly, or any loss of data, use,
                goodwill, or other intangible losses, resulting from:
            </p>
            <ul
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                <li>Your use or inability to use our services.</li>
                <li>
                    Any unauthorized access to or use of our servers and/or any
                    personal information stored therein.
                </li>
                <li>
                    Any interruption or cessation of transmission to or from our
                    services.
                </li>
                <li>
                    Any bugs, viruses, trojan horses, or the like that may be
                    transmitted to or through our services by any third party.
                </li>
                <li>
                    Any errors or omissions in any content or for any loss or
                    damage incurred as a result of the use of any content
                    posted, emailed, transmitted, or otherwise made available
                    through our services.
                </li>
            </ul>
            <h4
                class="my-4"
                style="
                    color: white;
                    font-family: &quot;Raleway&quot;, sans-serif;
                "
            >
                Changes to This Agreement
            </h4>
            <p style="color: white">
                We reserve the right, at our sole discretion, to modify or
                replace this User Agreement at any time. If a revision is
                material, we will provide at least 30 days' notice before any
                new terms take effect. By continuing to access or use our
                services after those revisions become effective, you agree to be
                bound by the revised terms.
            </p>
            <p style="color: white">
                If you have any questions about this User Agreement, please
                contact us at support@ellishgpt.com.
            </p>
        </div>
    </div>
    <div class="container text-center mt-5">
        <p style="color: white">
            &copy; 2024 EllishGPT Inc. All rights reserved.
        </p>
    </div>
</div>

<style>
    body {
        background-color: black;
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }

    body.fade-out {
        opacity: 0;
    }

    .btn-gradient {
        background: linear-gradient(135deg, #6e8efb, #a777e3);
        color: white;
        border: none;
        border-radius: 25px;
        padding: 10px 20px;
        font-size: 16px;
        transition:
            background 0.2s,
            transform 0.2s;
        display: block;
        width: 150px;
        margin: 10px;
    }

    .btn-gradient:hover {
        background: linear-gradient(135deg, #5a77d1, #8655c5);
        transform: translateY(-2px);
    }

    .page-transition {
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .page-transition.fade-in {
        opacity: 1;
    }

    .page-transition.fade-out {
        opacity: 0;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const pageTransitionContainer = document.getElementById(
            "pageTransitionContainer",
        );
        setTimeout(() => {
            pageTransitionContainer.classList.add("fade-in");
        }, 100);

        document.querySelectorAll("a").forEach(function (anchor) {
            anchor.addEventListener("click", function (event) {
                event.preventDefault();
                let linkLocation = this.href;
                pageTransitionContainer.classList.remove("fade-in");
                pageTransitionContainer.classList.add("fade-out");
                setTimeout(function () {
                    window.location = linkLocation;
                }, 1000);
            });
        });
    });
</script>
{% endblock %}
